<html>
<head>
  <meta charset="utf-8">
  <title>Halftime Box Scores</title>
  <link rel="stylesheet" href="http://taitems.github.io/Aristo-jQuery-UI-Theme/css/Aristo/Aristo.css">
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <script>
  $(function() {
    $( "#game_date" ).datepicker();
  });
  </script>
</head>
<body>


<form method="post" id="game_date" action="{{ url_for('date_select_ncf') }};">
<p>Date: <input type="text" id="ncf_game_date" name="ncf_game_date">
<button type="submit">Go</button>
</form>

<form method="post" id="ncaa_date" action="{{ url_for('date_select_ncaa') }};asd();">
<p>Date: <input type="text" id="ncaa_game_date" name="ncaa_game_date">
<button type="submit">Go</button>
</form>

<form method="post" action="{{url_for('ncaa')}}">
<button type="submit">NCAA - Coming Soon</button>
 </form>

<form method="post" action="{{url_for('show_entries')}}">
<button type="submit">NCF</button>
</form>

<script>
function asd()
{
    if(document.URL=='http://ec2-54-211-40-118.compute-1.amazonaws.com:5000/ncaa')
    document.getElementById("ncf_game_date").style.display="none";
    else
    document.getElementById("ncf_game_date").style.display="block";
    document.getElementById("ncaa_game_date").style.display="none";
}
</script>

<script>
window.onload=asd();
var i = 1;
</script>

<h1>Halftime Box Scores</h1>
{% if error %}
   <h1>{{ error }}</h1>
{% else %}

<style type="text/css">
.tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #a9a9a9;border-collapse: collapse;}
.tftable th {font-size:12px;background-color:#b8b8b8;border-width: 1px;padding: 8px;border-style: solid;border-color: #a9a9a9;text-align:left;}
.tftable tr {background-color:#ffffff;}
.tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #a9a9a9;}
.tftable tr:hover {background-color:#ffff99;}
</style>

<div class="tftable">
<table>
	<tr>
	{% for df in results %}
		<td>
		{{ times[loop.index0] }}
		{{df.to_html() | safe}}
		<script>
 		if ((i % 4) == 0){
	               	document.write("</tr><tr>");
        	}
        	i = i + 1;
		</script>
		</td>
	{% endfor %}
</table>
</div>
{% endif %}
